 <!-- CV Section -->
    <section class="success" id="CV">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CV</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.ldeo.columbia.edu/sites/default/files/Bishop_CV_LDEO_0.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Full CV
                    </a>
                </div>
            </div>
        </div>
    </section>
