 <!-- CV Section -->
    <section class="success" id="CV">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CV / Résumé</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/CV/Bishop_LDEO_CV_2020.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Full CV
                    </a>
                </div>
                
               <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/CV/BishopResume_2page_Nov2020" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Résumé
                    </a>
                </div>
            </div>
        </div>
    </section>
